.auth-container form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 130px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shown-container, .auth-center-div {
  display: flex;
  align-items: center;
}

.shown-container,
.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container form input,
.auth-container form button {
  padding: 0.375rem;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 0.75rem;
}

.auth-container form {
  justify-content: space-between;
  width: 80%;
  height: 80%;
  margin: 0;
}

.auth-err-msg {
  display: inline;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

body {
  background-color: #fff9f5;
  color: #000000;
}
body.dark-mode {
  background-color: #2f3e46;
  color: #ffffff;
}

.auth-center-div {
  position: relative;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.auth-container ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.auth-container ul li {
  list-style: none;
  cursor: pointer;
  font-weight: bolder;
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.auth-container form {
  position: relative;
}
.shown-container {
  height: 25rem;
}

.hidden-container {
  display: none;
}

.selected-tab {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.auth-err-msg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.close-auth {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.close-auth span {
  position: absolute;
  display: block;
  height: 2px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.close-auth span:nth-of-type(1) {
  transform: rotate(45deg) !important;
}
.close-auth span:nth-of-type(2) {
  transform: rotate(135deg) !important;
}