.auth-container button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  background-color: #9cafaa;
  line-height: 1;
  color: #fff9f5;
  transition: 0.25s;
  border: 1px solid #9cafaa;
  padding: 0.75rem 1.5rem !important;
  margin: 0.75rem;
}
.auth-container button:hover, .auth-container button:focus {
  border: 1px solid #9cafaa;
  background-color: transparent;
  color: #9cafaa;
}

.banner-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  background-color: #9cafaa;
  line-height: 1;
  color: #fff9f5;
  transition: 0.25s;
  border: 1px solid #9cafaa;
}
.banner-btn:hover, .banner-btn:focus {
  border: 1px solid #9cafaa;
  background-color: transparent;
  color: #9cafaa;
}

.title .add-to-cart-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  background-color: #9cafaa;
  line-height: 1;
  color: #fff9f5;
  transition: 0.25s;
  border: 1px solid #9cafaa;
  margin: 0.75rem 0;
}
.title .add-to-cart-btn:hover, .title .add-to-cart-btn:focus {
  border: 1px solid #9cafaa;
  background-color: transparent;
  color: #9cafaa;
}

#next-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  background-color: #9cafaa;
  line-height: 1;
  color: #fff9f5;
  transition: 0.25s;
  border: 1px solid #9cafaa;
  margin: 0.75rem 0;
}
#next-btn:hover, #next-btn:focus {
  border: 1px solid #9cafaa;
  background-color: transparent;
  color: #9cafaa;
}

#prev-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  background-color: #9cafaa;
  line-height: 1;
  color: #fff9f5;
  transition: 0.25s;
  border: 1px solid #9cafaa;
  margin: 0.75rem 0;
}
#prev-btn:hover, #prev-btn:focus {
  border: 1px solid #9cafaa;
  background-color: transparent;
  color: #9cafaa;
}

.cards .add-to-cart-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  background-color: #9cafaa;
  line-height: 1;
  color: #fff9f5;
  transition: 0.25s;
  border: 1px solid #9cafaa;
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
}
.cards .add-to-cart-btn:hover, .cards .add-to-cart-btn:focus {
  border: 1px solid #9cafaa;
  background-color: transparent;
  color: #9cafaa;
}

.page-button {
  background-color: transparent;
  border: 0;
}

.profile_info button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem;
  background-color: #952021;
  line-height: 1;
  color: #fff;
  transition: 0.25s;
  border: 1px solid #952021;
}
.profile_info button:hover, .profile_info button:focus {
  border: 1px solid #952021;
  background-color: transparent;
  color: #952021;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em #ffffff;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 #ffffff, inset 3.5em 0 0 0 #ffffff;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 #ffffff;
}

.sliding:hover,
.sliding:focus {
  box-shadow: inset 6.5em 0 0 0 red;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 #ffffff, inset 6em 3.5em 0 0 #ffffff;
}