html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  color: #000000;
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
}
@media (max-width: 567px) {
  .container {
    padding: 0 1rem;
  }
}
.d-flex {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 4rem;
}
.header .navbar {
  padding: 2.5rem 0;
  position: relative;
  z-index: 1;
}
.header .navbar .row {
  justify-content: space-between;
}
.header .navbar .row .nav-list a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000000;
}
.header .navbar .row .nav-list a.user-link {
  display: none;
}
.header .navbar .row .nav-list a:not(:last-child) {
  margin-right: 0.5rem;
}
.header .navbar .row .nav-list a:hover {
  color: red;
}
.header .navbar .row .icons .icon {
  font-size: 2.2rem;
  padding: 0.5rem;
  color: #000000;
  cursor: pointer;
  justify-content: center;
  position: relative;
}
.header .navbar .row .icons .icon:not(:last-child) {
  margin-right: 3rem;
}
.header .navbar .row .icons .icon span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: red;
  border: 1px solid #000000;
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
  border-radius: 50%;
}
.header .navbar .row .icons .icon:hover {
  background-color: #f4f4f4;
}
.header .hamburger,
.header .close {
  display: none;
}

@media (min-width: 1600px) {
  .header .navbar {
    padding: 4rem 0;
  }
}
@media (max-width: 768px) {
  .navbar .row .icons {
    display: none;
  }
  .navbar .row .nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 35rem;
    height: 100%;
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1rem;
    transition: 0.5s;
  }
  .navbar .row .nav-list a {
    font-size: 1.8rem;
  }
  .navbar .row .nav-list a:not(:last-child) {
    margin: 0 0 1rem 0;
  }
  .navbar .row .nav-list .close {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: #000000;
    font-size: 3rem;
  }
  .navbar .row .nav-list.show {
    right: 0;
  }
  .navbar .row .hamburger {
    display: block;
    font-size: 3rem;
    color: #000000;
  }
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30rem;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: auto;
}
.cards :hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.cards:before {
  content: "";
  display: block;
  border-radius: 10px;
  opacity: 0;
}

.card-img {
  position: relative;
}

.card-desc {
  position: absolute;
  letter-spacing: 0.1rem;
  word-break: break-word;
  display: grid;
  justify-content: center;
  z-index: 1;
  color: white;
  opacity: 0;
  width: 30rem;
  height: 30rem;
}

.container {
  padding: 0.75rem;
}

.product {
  padding: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  margin: 0.75rem;
}