.row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
body {
  background-color: #ddf2fd;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
