.profile_orders section .order-card-item header,
.profile_orders section .order-card-item footer {
  display: flex;
  align-items: center;
}

.profile_orders section .order-card-item, .profile_orders section {
  display: flex;
  flex-direction: column;
}

.profile-main aside button {
  padding: 0.375rem;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 0.75rem;
}

.profile-main {
  margin-top: calc(80px + 1.5rem);
  height: calc(100vh - 80px - 1.5rem);
  overflow: hidden;
  display: flex;
}
.profile-main * {
  padding: 0.45rem;
}
.profile-main aside {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.profile-main aside img {
  border-radius: 50%;
}
.profile-main aside button {
  margin-top: auto;
}
.profile-main aside p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.profile_orders {
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.profile_orders hr {
  padding: 0;
  height: 1px;
  width: 100%;
}
.profile_orders section {
  overflow-y: auto;
  flex-grow: 1;
}
.profile_orders section .order-card-item {
  margin: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.profile_orders section .order-card-item .order-item {
  display: flex;
  flex-direction: row;
}
.profile_orders section .order-card-item header {
  justify-content: center;
}
.profile_orders section .order-card-item footer {
  justify-content: space-between;
}