body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

#theme-toggle{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header {
    margin: 10px;
}

#search-input {
    padding: 10px;
    width: 300px;
}

#search-button {
    padding: 10px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    width: 25%;
    text-align: center;
}

.new-search-input{
    display: none;
    position: absolute;
    right: 15rem;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: width 0.3s ease;
    margin-right: 7rem;
}

#categories{
    display: inline-block;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}
#categories i{
    position: relative;
    right: 4rem;
}

#category{
    font-weight: 500;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    padding: 0.5rem;
}
#categories:hover{
    color: #ff5e3a;
}
#category:hover{
    color: #ff5e3a;
}

 /* Styles for side panel  */
.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-panel.active {
    display: block;
    width: 15em;
  }
  
  .side-panel ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
  }
  
  .side-panel ul li {
    margin-bottom: 15px;
  }
  
  .side-panel ul li a {
    text-decoration: none;
    color: #888585;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .side-panel ul li a:hover {
    background-color: #ddd;
    color: #000;
  }
  
  /* Toggle button */
  .toggle-panel-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
