.single-product-container {
  overflow-y: hidden;
  margin-top: 130px;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
}

.image-ul {
  margin-left: 15px;
  list-style: none;
}

.normal-img-container {
  margin: 30px 15px;
}

.alt-img-container {
  margin-top: -40px;
  width: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 2.5rem;
}

.small-img-container {
  background-color: #ffffff;
  border-radius: 8px;
  height: auto;
  padding: 0;
  width: 40px;
  margin-bottom: 5px;
}
.small-img-container.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.small-img {
  border: 2px solid grey;
  border-radius: 5px;
  width: 40px;
  cursor: pointer;
}

.active {
  box-shadow: 2px 3px 5px rgba(0, 113, 133, 0.4392156863);
}

.all-img-container {
  display: grid;
  grid-template-columns: 50px 2fr 2fr 1fr;
  margin: 20px 10px;
  width: 100%;
  position: relative;
}

.category-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-overview {
  display: flex;
  flex-wrap: wrap;
  max-width: 70vw;
  border: 1px solid #d6dac8;
  margin: 2.25rem auto;
}
.product-overview.dark-mode {
  border: 1px solid #164863;
}

.overview-title {
  background-color: #d6dac8;
  font-weight: 700;
  padding: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.overview-title.dark-mode {
  background-color: #9bbec8;
}

.info-title {
  font-weight: bold;
  padding: 0.75rem 1.5rem 1.5rem;
}

.border-element {
  margin-bottom: 0.75rem;
  width: 100%;
}

.review {
  padding: 0.75rem 1.5rem 1.5rem;
}

.review:nth-child(odd) {
  background-color: #fbf3d5;
}
.review:nth-child(odd).dark-mode {
  background-color: #ffffff;
}

.description {
  padding: 0 1.5rem;
}

.review-info {
  display: flex;
  font-style: italic;
  font-size: smaller;
}
.review-info p {
  padding-right: 40px;
}

@media (min-width: 0) {
  .all-img-container {
    grid-template-columns: 3fr 2fr 1fr;
  }
}
@media (min-width: 580px) {
  .all-img-container {
    grid-template-columns: 3fr 2fr 1fr;
  }
}
@media (min-width: 720px) {
  .all-img-container {
    grid-template-columns: 3fr 2fr 1fr;
  }
}
@media (min-width: 960px) {
  .all-img-container {
    grid-template-columns: 2.5fr 2fr 1fr;
  }
}
@media (max-width: 720px) {
  .home {
    border-radius: 5;
  }
  .single-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .image-ul {
    display: flex;
  }
  .alt-img-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    justify-content: center;
    top: 0;
  }
  .small-img-container {
    background-color: #ffffff;
    border-radius: 8px;
    height: auto;
    padding: 0;
    width: 40px;
    margin: 0 0.75rem;
  }
  .small-img-container.dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  .all-img-container {
    margin: 20px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .m-img-container {
    cursor: pointer;
  }
  .product-overview {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    border: 1px solid #d6dac8;
    margin: 1.5rem 0.75rem;
  }
  .product-overview.dark-mode {
    border: 1px solid #164863;
  }
}