//LIGHT
$light-bg: #fff9f5;
$light-text: #000000;
$defaultWhite: #ffffff;
$overviewText: #d6dac8;
$productBorder: #d6dac8;
$oddReview: #fbf3d5;
$light-nav-bg: #9cafaa;
$light-border: #000;
$light-cart-overlay: rgb(134 146 210 / 35%);
//DARK
$dark-bg: #404258;
$dark-text: #ffffff;
$defaultBlack: #000000;
$overviewTextDark: #9bbec8;
$productBorderDark: #164863;
$oddReviewDark: #ffffff;
$dark-nav-bg: #474E68;
$dark-border: #fff;
$dark-cart-overlay: rgb(134 146 210 / 35%);
