//LIGHT
$light-bg: #ddf2fd;
$light-text: #000000;
$defaultWhite: #ffffff;
$overviewText: #9bbec8;
$productBorder: #164863;
//DARK
$dark-bg: #2f3e46;
$dark-text: #ffffff;
$defaultBlack: #000000;
$overviewTextDark: #9bbec8;
$productBorderDark: #164863;
