@use "sass:math";
@import "./colors";
@import "./variables";
@import "./breakpoints";
@import "./gridSystem";

body {
  background-color: $light-bg;
  color: $light-text;

  &.dark-mode {
    background-color: $dark-bg;
    color: $dark-text;
  }
}

.auth-center-div {
  position: relative;
  @extend %flex-center;
  justify-content: center;
  height: 90vh;
}

.auth-container {
  ul {
    padding: 0;
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      cursor: pointer;
      font-weight: bolder;
      width: 30%;
      height: 100%;
      text-align: center;
      padding: $base-padding;
      border: $base-border;
      border-radius: math.div($base-border-radius, 4);
    }
  }

  form {
    @extend %input-container;
    @extend %auth-form;
    position: relative;

    button {
      @extend %input-field;
    }

    label {
      @extend %label;
    }

    input {
      @extend %input-field;
    }
  }
}

.shown-container {
  @extend %flex-column;
  @extend %flex-center;
  height: 25rem;
}

.hidden-container {
  display: none;
}

.selected-tab {
  box-shadow: $heavy-box-shadow;
}

.auth-err-msg {
  @extend %error-msg-text;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.close-auth {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: math.div($base-padding, 2);
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    position: absolute;
    display: block;
    height: 2px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.4);

    &:nth-of-type(1) {
      transform: rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: rotate(135deg);
    }
  }
}
