@import "./variables";
@import "./breakpoints";
@import "./colors";

body {
  background-color: $light-bg;
  color: $light-text;
  transition: background-color 0.3s, color 0.3s;
  &.dark-mode {
    background-color: $dark-bg;
    color: $dark-text;
  }
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: $base-border-radius * 0.5;
  margin: auto;
  width: $widthAndHeightCards;
  @extend %flex-center;
  justify-content: center;
  flex-wrap: wrap;
}
.cards:hover:before {
  opacity: 1;
}
.cards:hover .card-desc {
  opacity: 1;
  transform: translateY(0%);
}
.cards:before {
  content: "";
  display: block;
  border-radius: $base-border-radius * 0.5;
  opacity: 0;
}
.card-img {
  position: relative;
  border: $base-border-thickness solid #fff;
  border-radius: $base-border-radius * 0.5;
  width: $widthAndHeightCards;
  height: $widthAndHeightCards - 1;
}
.card-desc {
  position: absolute;
  letter-spacing: $cart-letter-spacing;
  word-break: break-word;
  display: grid;
  justify-content: center;
  z-index: 1;
  color: $light-text;
  opacity: 0;
  background: rgb(107, 114, 142, 0.6);
  border: $base-border-thickness solid #fff;
  border-radius: $base-border-radius * 0.5;
  width: $widthAndHeightCards;
  height: $widthAndHeightCards - 1;
}
.card-desc p {
  margin: 10px;
}
.container {
  padding: $base-padding;
}
.all-products-container {
  display: flex;
  width: 100%;
  margin-top: $navbar-margin;
}
.product {
  flex-grow: 2;
  padding: $base-padding;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($widthAndHeightCards, 1fr));
  gap: 1rem;
  margin: $base-margin;
}

// button
.addtocart {
  display: block;
  padding: $base-padding;
  border: 0px;
  border-radius: $base-border-radius * 0.5;
  position: relative;
  background: $background;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s;
  z-index: 1;
  width: $widthAndHeightCards;
}
.addtocart:hover {
  transform: scale(1.1);
}

#side-panel-container li {
  padding: $base-padding;
}
#side-panel-container a {
  padding: $base-padding;
}
#side-panel-container a {
  position: relative;
  text-decoration: none;
}

#side-panel-container a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  border-radius: 40px;
  transition: opacity 0.3s ease;
}

#side-panel-container a:hover::after {
  opacity: 1;
}

#side-panel-container {
  margin: $base-margin 0;
  line-height: $line-height;
  max-height: 100vh;
  overflow-y: auto;
}
#side-panel-container::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
a {
  color: inherit;
}

.page-button {
  color: black;

  padding: $base-padding $base-padding;
  text-decoration: none;
}

.page-button:hover {
  background-color: #4caf50;
  color: white;
}
#page-buttons {
  display: inline-block;
}
#pagination-controls {
  margin: auto;
  text-align: center;
}
