@use "sass:math";
@import "./colors";
@import "./variables";
@import "./breakpoints";
@import "./gridSystem";

.profile-main {
  margin-top: calc(80px + 1.5rem);
  height: calc(100vh - 80px - 1.5rem);
  overflow: hidden;
  display: flex;

  * {
    padding: $base-padding*0.6;
  }

  aside {
    img {
      max-width: 200px;
      border-radius: 50%;
    }

    button {
      @extend %input-field;
      margin-top: auto;
    }

    display: flex;
    flex-direction: column;
  }
}

.profile_orders {
  width: 100%;
  border-left: $base-border;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  hr {
    padding: 0;
    height: 1px;
    width: 100%
  }

  section {
    @extend %flex-column;
    overflow-y: scroll;
    flex-grow: 1;

    .order-card-item {
      //border-top: $base-border;
      @extend %flex-column;
      margin: $base-margin;
      border: $base-border;
      .order-item {
        display: flex;
        flex-direction: row;
        //align-items: center;
      }
      header, footer {
        @extend %flex-center;
      }
      header {
        justify-content: center;
      }
      footer {
        justify-content: space-between;
      }
    }
  }

}

