@import "./colors";
@import "./variables";
@import "./breakpoints";

.single-product-container {
  overflow-x: hidden;
  margin-top: $navbar-margin;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
}
.image-ul {
  margin-left: $base-product-margin-left;
  list-style: none;
}

.normal-img-container img {
  height: 50vh;
}
.normal-img-container {
  margin: 30px 15px;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-img-container {
  margin-top: -40px;
  width: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.small-img-container {
  background-color: $defaultWhite;
  border-radius: 8px;
  padding: 0;
  width: 40px;
  margin-bottom: 5px;
  height: 40px;
  justify-content: center;
  @extend %flex-center;
  border: 2px solid grey;

  &.dark-mode {
    background-color: $defaultBlack;
    color: $defaultWhite;
  }
}
.small-img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.active {
  box-shadow: 2px 3px 5px #00718570;
  opacity: 0.7;
}

.all-img-container {
  display: grid;
  grid-template-columns: 50px 2fr 2fr 1fr;
  margin: 20px 10px;
  width: 100%;
  position: relative;
  padding-left: 55px;
}

.category-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-overview {
  display: flex;
  flex-wrap: wrap;
  max-width: 70vw;

  border: $base-border-thickness solid $productBorder;
  margin: $base-margin * 3 auto;
  &.dark-mode {
    border: $base-border-thickness solid $productBorderDark;
  }
}

.overview-title {
  background-color: $overviewText;
  font-weight: 700;
  padding: $base-padding * 2;
  width: 100%;
  margin-bottom: $base-margin * 2;
  &.dark-mode {
    background-color: $overviewTextDark;
  }
}

.overview-info {
  // padding: 0 ($base-padding * 2) ($base-padding * 2);
}
.item-row {
}

.info-title {
  font-weight: bold;
  padding: $base-padding ($base-padding * 2) ($base-padding * 2);
}

.border-element {
  //   border-bottom: $base-border-thickness solid $borderColor;
  margin-bottom: $base-margin;
  width: 100%;
}
.review {
  padding: $base-padding ($base-padding * 2) ($base-padding * 2);
}
.review:nth-child(odd) {
  background-color: $oddReview;
  &.dark-mode {
    background-color: $oddReviewDark;
  }
}
.review:nth-child(odd) .dark-mode {
  background-color: $oddReviewDark;
}
.description {
  padding: 0 ($base-padding * 2);
}
.review-info {
  display: flex;
  font-style: italic;
  font-size: smaller;
  p {
    padding-right: 40px;
  }
}

@include xs {
  .all-img-container {
    grid-template-columns: 3fr 2fr 1fr;
  }
}
@include sm {
  .all-img-container {
    grid-template-columns: 3fr 2fr 1fr;
  }
}
@include md {
  .all-img-container {
    grid-template-columns: 3fr 2fr 1fr;
  }
}
@include lg {
  .all-img-container {
    grid-template-columns: 2.5fr 2fr 1fr;
  }
}

@media (max-width: map-get($breakpoints , "md")) {
  .home {
    border-radius: 5;
  }
  .single-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .image-ul {
    display: flex;
  }
  .alt-img-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: $base-margin;
    justify-content: center;
    top: 0;
    transform: translateY(0);
  }
  .small-img-container {
    background-color: $defaultWhite;
    border-radius: 8px;
    padding: 0;
    width: 40px;
    margin: 0 $base-margin;
    @extend %flex-center;
    border: 2px solid grey;
    height: 40px;
    display: flex;
    justify-content: center;
    &.dark-mode {
      background-color: $defaultBlack;
      color: $defaultWhite;
    }
  }
  .all-img-container {
    margin: 20px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .m-img-container {
    cursor: pointer;
  }

  .product-overview {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    border: $base-border-thickness solid $productBorder;
    margin: $base-margin * 2 $base-margin;
    &.dark-mode {
      border: $base-border-thickness solid $productBorderDark;
    }
  }
}

.home {
  border-radius: 5;
}
