<main class="profile-main">
  <aside class="profile_info">
    <img src="https://placeholder.co/500x500" alt="Profile picture">
    <article class="profile-text">
      <label for="name">Name:</label>
      <p id="name"></p>
      <br>
      <label for="email">Email:</label>
      <p id="email"></p>
    </article>
    <button>Sign Out</button>
  </aside>
  <section class="profile_orders">
    <h2>Past Orders</h2>
    <hr>
    <section>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
      <div class="order-card-item">
        <img src="https://placeholder.com/100x100" alt="Order item">
        <article>
          <p><b>Status:</b> Lorem ipsum dolor sit amet</p>
          <p><b>Order Total:</b>X,XXX EGP</p>
        </article>
      </div>
    </section>
  </section>
</main>
<link rel="stylesheet" href="../css/profile.css">
