<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/cart.css" />
  </head>
  <body>
    <div class="cart-overlay">
      <div class="cart">
        <span class="close-cart">
          <i class="fas fa-window-close"> </i>
        </span>
        <h2>Your Cart</h2>
        <div class="cart-content"></div>
        <div class="cart-footer">
          <h3>Your Total: $ <span class="cart-total">0</span></h3>
          <button class="clear-cart banner-btn">Clear Cart</button>
        </div>
      </div>
    </div>
    <script src="cart.js"></script>
  </body>
</html> -->
