<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../css/home.css" />
  <link rel="stylesheet" href="../css/cards.css" />
</head>
<body>
    

        <!-- start card  -->
        <div class="product">

        </div>
        <!-- end card  -->

        <!-- start pagination  -->
        <div id="data-container"></div>
        <div id="pagination-controls">
            <button id="prev-btn">Previous</button>
            <span id="page-info"></span>
            <button id="next-btn">Next</button>
        </div>
        <!-- end pagination  -->

        <button id="theme-toggle">Toggle Theme</button>
    
        <h1>HELLO WORLD</h1>
        <script src="../app.js"></script>
        <script src="products.js"></script>
</body>
</html>