<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Product</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/singleProductPage.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/cart.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <nav id="navbar"></nav>
    <div id="cart-container">
      <div class="cart-overlay">
        <di v class="cart">
          <span class="close-cart">
            <i class="fas fa-window-close"> </i>
          </span>
          <h2>Your Cart</h2>
          <div class="cart-content"></div>
          <div class="cart-footer">
            <h3>Your Total: $ <span class="cart-total">0</span></h3>
            <button class="clear-cart banner-btn">Clear Cart</button>
            <button class="checkout banner-btn">Checkout</button>
          </div>
        </div>
      </div>
    </div>
    <div id="main"></div>
    <!-- <script src="../utils/SearchBar.js"></script> -->
    <script src="SingleProductPage.js" type="module"></script>
    <script src="./navbar.js" type="module"></script>

    <script src="cart.js" type="module"></script>
  </body>
</html>
